@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "firasans";
  src: url("src/assets/fonts/FiraSans.otf") format("opentype");
}

@font-face {
  font-family: "baloo";
  src: url("src/assets/fonts/Baloo.ttf") format("truetype");
}

@font-face {
  font-family: "digital";
  src: url("src/assets/fonts/digital.ttf") format("truetype");
}

.digital {
  font-family: "digital";
}

.arial {
  font-family: arial;
}

.baloo {
  font-family: "baloo";
}

:root {
  font-family: "baloo", "firasans", calibri, sans-serif;
}

.test {
  @apply border border-primary;
}

.flexcenter {
  @apply flex justify-center items-center;
}

.flexcenter-col {
  @apply flex flex-col justify-center items-center;
}

.animate-appear {
  animation: appearAnimation 0.5s ease-in-out;
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.report-layout {
  width: 800px;
  /* height: 1165px; */
  position: relative;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
  border-radius: 10px; /* Radius of the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 10px; /* Radius of the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}
